
/* =================================== */
/*	Basic Style 
/* =================================== */

body {
  background-size:100%;
	background-color: #000;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
	font-size: 13px;
    color: #fff;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    color: #fff;
	
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #000;
}

h1, h3,
h4, h5, h6 {
	font-family:Rockwell;
	font-weight: normal;
	margin: 0;
}
h2
{
	font-family:ethnocentric;
	font-weight: normal;
	margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

span.color {
	color: #000;
}

body > section,
.footer {
	padding: 70px 0;
}

.sec-title {}

.sec-title h2 {
  color: #cc0000;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-sub-title {
	margin: 35px 0 45px;
}

.sec-sub-title p {
	font-weight: 600;
	line-height: 24px;
	font-size: 18px;
	color: blue;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: red;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: #cc0000;
  position: relative;
  bottom: 6px;
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}
.responsive {
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height:200px;
  }
#preloader {
  background-color: #000;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 35%;
  position: absolute;
  top: 48%;
}




/*=========================================
	Header
==========================================*/


#navigation {
  background-color: rgba(16, 22, 54, 0.2)x;
  border: 0 none;
  margin: 0;
  font-family: Castellar;
    -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
	    -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
			transition: background-color 800ms linear;
}

.navbar-toggle i {
	color: #fff;

}

.navbar-brand {
	width:20%;
  padding: 2%;
}
.navbar-nav li a {
	color:#fff;
	border-top: 1px solid transparent;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	background-color: transparent;
	border-top: 1px solid #32B0EE;
	color: #FF652F;
	}





/*=========================================
	Slider
==========================================*/

#slider {
	padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
	font-family: Serif;
	
  }

.carousel-caption {
  top: 10%;
  
}

.carousel-caption h2 {
  color: #14A76C;
  font-size: 62px;
  font-weight: 300;
  margin-top:3%;
  font-family : Ethnocentric;

  }

.carousel-caption h2 span {
  font-weight: 800;
font-family : Ethnocentric;
  }

.carousel-caption h3 {
	color:red;
  font-size: 48px;
  font-weight: 300;
  margin: 5px 0 20px;
font-family : Castellar;

  }
.carousel-caption h5 {
	color: #14A76C;
  font-size: 20px;
  font-weight: 300;
  margin-top:0%;
font-family : Rockwell;

  }


.carousel-caption p {
font-family : Rockwell;
  color: #FF652F;
  font-size: 20px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
color: #0254f7;
content: "___";
position: relative;
top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.social-links {
  margin-top: 3%;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
  color: #14A76C;
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #FF652F;
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0;
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}



/*=========================================
	Features
==========================================*/

.features {
	font-family:Rockwell;
	font-size:15px;
	color:#14A76C;
  background-color: #000;
}

.owl-controls {
  bottom: -45px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-controls .owl-page span {
  border: 1px solid #C7CED3;
  border-radius: 20px;
  display: block;
  height: 8px;
  margin: 5px 4px;
  width: 8px;
}

.owl-controls .owl-page.active span {
  background: #062033;
  border: 0;
}

.service-icon {
  border: 1px solid blue;
  border-radius: 50%;
  color: green;
  float: left;
  padding: 10px 13px;
}

.service-desc {
  margin-left: 70px;
  position: relative;
  top: 5px;
}

.service-desc h3 {
  color: green;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.features span{
	color:#FF652F;
	margin-right:0;
  background-color: #000;
}


/*=========================================
	Our Works
==========================================*/

.work-filter {
  margin-bottom: 35px;
padding-left:10px 0;

  }

.work-filter ul li {
    display: inline-block;
}

.work-filter ul li a {
  color: red;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 17px;
  border-radius: 6px;
  text-transform: capitalize;
}

.work-filter ul li a:hover,
.work-filter ul li a.active {
  background-color: green;
  border-radius: 6px;
  color: #000;
  padding: 5px 17px;
}

.mix {
	margin-left:70px;	
	margin-right:0px;
    margin-bottom:70px;
	display: none;
}

.work-item {
    float: left;
    width: 20%;
    position: relative;
}

.work-item > img {
  display: block;
  height: auto;
  max-width: 90%;
}

.overlay {
	background-color: black;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #FF652F;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);
}

.work-item:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.work-item .overlay a {
  border: 1px solid #14A76C;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20%;
  color:#14A76C;
  padding: 7px 10px;
}

.work-item .overlay a:hover {
  color: #cc0000;
}

.work-item .overlay h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 25px 0 8px;
}

.work-item .overlay p {
  font-size: 14px;
  line-height: 24px;
}



/*=========================================
	Our Team Member
==========================================*/

.member-thumb {
  width: 273px;
  position: relative;	
}

.member-thumb .overlay h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0;
}

.member-thumb .overlay {
	font-size: 16px;
	padding: 20px;
	line-height: 24px;
}

.team-member h4 {
  color: green;
  font-size: 18px;
 
 font-weight: 600;
  line-height: 24px;
  margin: 15px 0 8px;
}

.member-thumb:hover .overlay {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
font-family:Rockwell;
color : #FF652F;	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.team-member:hover h4 {
  color: blue;
}

.team-member .social-links {
  margin-top: 24%;
  
}

.team-member .social-links li a {
  background-color: #000;
  color: #cc0000;
  height: 42px;
  padding: 10px 0 0;
  width: 42px;
}


/*=========================================
	Some fun facts
==========================================*/

#facts {
	/*background-image: url("../img/sitdrone.jpg");
	*/
	background-color: rgba(6,32,51,.8);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}

.facts .devider:before,
.facts .devider:after {
	color: red;
}

.facts .devider i {
	color: red;
}

.parallax-overlay {
	background-color: #000;
	padding: 70px 0;
}

.counters-item {
  color: #fff;
}

.counters-item i {
  border: 1px solid #737C85;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px;
}

.counters-item strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.counters-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  text-transform: uppercase;
}


/*=========================================
	Contact Us
==========================================*/

.contact {
	padding-bottom: 0;
}

.contact-address h3 {
  color: green;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-address p {
	color:red;
  line-height: 24px;
}

.contact-form {}

.contact-form h3 {
  color: green;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-form .input-group {
  width: 100%;
}

.contact-form .form-control {
  border-color: -moz-use-text-color -moz-use-text-color #cccccc;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin-bottom: 10px;
}

.contact-form .input-field {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.contact-form .input-field:last-child {
  margin-right: 0;
}

.contact-form .form-control.error {
border-bottom-color: #cc0000;
}

label.error {
  color: #c0392b;
  font-weight: normal;
  text-transform: capitalize;
}

.contact-form #form-submit {
  background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
  border: 0 none;
  color: blue;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-align: right;
  width: 150px;
}

.footer-social {
  margin-top: 17px;
}

.footer-social li a {
  color: #cc0000;
  display: block;
  margin-bottom: 10px;
}


#map_canvas {
  height: 215px;
  width: 100%;
}



/*=========================================
	Contact Us
==========================================*/


.footer {
  background-color: #000;
  border-top: 5px solid #000;
  color: #fff;
}

.footer a:hover {
  color: #062033;
}

.footer h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}

.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  position: relative;
}

.subscribe #subscribe {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 40px;
  text-indent: 10px;
  width: 100%;
}

.subscribe #subs {
  background-color: transparent;
  border: 0 none;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 6px;
}

.footer-single {
  line-height: 24px;
}

.footer-single ul {
  }

.footer-single li {
  line-height: 32px;
}

.footer-single p i {
  margin: 0 10px;
}

.credit a {
  color: #062033;
}

.credit a:hover {
  color: #fff;
}

.copyright {
  color: #cc0000;
  margin-top: 100px;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
}

#particles-js{
	background-size : cover;
	height : 680px;
}



code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}


/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 12px 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	background-color: #fff;
}

.mu-send-msg-btn {
	color: #555;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 250px;
	color: #fff;
	border-radius: 5px;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}



/*--------------------*/
/* EVENT SCHEDULE */
/*--------------------*/

#mu-schedule {
	background-color: #000;
	display: inline;
	float: left;
	width: 100%;
}

.mu-schedule-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-schedule-content-area  {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-schedule-menu {
	font-size:20px;
	font-family:Rockwell;
	text-align: center;
	border: none;
}


.mu-schedule-menu li {
	float: none;
	display: inline-block;
}

.mu-schedule-menu li a {
	color:Blue;
	border-radius: 30;
	margin: 0 10px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-schedule-menu li a:hover,
.mu-schedule-menu li a:focus,
.mu-schedule-menu li.active a,
.mu-schedule-menu li.active a:hover,
.mu-schedule-menu li.active a:focus {
	font-family:Rockwell;
color:Blue;
	background-color:aqua;
}

.mu-schedule-content{
	font-family:Rockwell;
	color:#FF652F;
	margin-top: 50px;
}

.mu-event-timeline ul li {
	list-style-type: none;
	position: relative;
	width: 2px;
	margin: 0 auto;
	padding-top: 50px;
	background-color: #ddd;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-event-timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 70px;
	transform: translateX(-50%);
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: inherit;
}


.mu-event-timeline ul li .mu-single-event {
	background-color: transparent;
	-webkit-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	-moz-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	position: relative;
	top: 0;
	width: 400px;
	padding: 15px;
	text-align: left;
}

.mu-event-timeline ul li:nth-child(2n) .mu-single-event {
	left: 50px;
}

.mu-event-timeline ul li:nth-child(2n+1) .mu-single-event {
	left: -450px;
	text-align: right;
}

.mu-event-timeline ul li .mu-single-event img {
	height: 80px;
	width: 80px;
	float: left;
	border-radius: 50%;
	margin-right: 15px;
}

.mu-event-timeline ul li:nth-child(2n+1) .mu-single-event img {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

.mu-event-timeline ul li .mu-single-event::before {
	content: '';
	position: absolute;
	top: 23px;
	width: 0;
	height: 0;
	border-style: solid;
}

.mu-event-timeline ul li:nth-child(2n+1) .mu-single-event::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #fff;
}

.mu-event-timeline ul li:nth-child(2n) .mu-single-event::before {
	left: -16px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #fff transparent transparent;
}

.mu-event-timeline ul li .mu-single-event h3 {
	margin-bottom: 5px;
	font-size: 16px;
}

.mu-event-timeline ul li .mu-single-event p {
	margin-bottom: 5px;
}

.mu-event-timeline ul li .mu-single-event span {
	font-size: 12px;
}

/*--------------------*/
/* VENUE */
/*--------------------*/

#mu-venue {
	display: inline;
	float: left;
	width: 100%;
}

.mu-venue-area {

	display: inline;
	float: left;
	width: 100%;
}

.mu-venue-map {

	margin-top:50px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	display: inline;
	float: left;
	width: 92%;
}

.mu-venue-map img {
	margin-top:70px;
		border-radius:30px;
}

.mu-venue-address {
	display: inline;
	float: left;
	width: 100%;
	padding: 10% 5%;
	color: #FF652F;
}

.mu-venue-address h2 i {
	margin-top: 4px;
	font-size: 22px;
	display: inline-block;
	vertical-align: middle;
}

.mu-venue-address h3 {
	margin-top: 15px;
	margin-bottom: 0px;
}

.mu-venue-address h4 {
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 25px;
}

/*--------------------*/
/* SPONSORS */
/*--------------------*/

#mu-sponsors {
	background-color: #000;
	display: inline;
	float: left;
	width: 100%;
	
}

.mu-sponsors-area {
	display: inline;
	float: left;
	padding: 10px 0;
	width: 100%;
}

.mu-sponsors-content {
	display: inline;
	float: left;
	margin-top: 0px;
	width: auto;
}

.mu-sponsors-single {
	margin-left:30px;
	background: transparent;
	display: relative;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}
.testbutton {
  background: linear-gradient(to bottom right, #99ffcc 0%, #ffcc99 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: dotted 2px;
  color: #cc0000;
  cursor: pointer;
  display: inline-block;
  font-family: Ethnocentric;
  font-size: 15px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}
.testbutton1 {
  background: linear-gradient(to bottom right, #ff99ff 0%, #9966ff 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: dotted 2px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Ethnocentric;
  font-size: 15px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}
